# folders
msp_dashboard_example/
env/
.idea
src/__pycache__/
build
dist
.vscode


#files
weights_shops_msp.xlsx
sales_5550499_commodity_group.csv
sales.csv
src/resources/weights_shops_msp.xlsx
Ella Pilot MSP.xlsb
